body {
    margin: 0;
    font-family: Montserrat;
    background-color: black;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER MOBILE */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1em;
    position: relative;
    z-index: 3;
}

.logo {
    width: 140px;
}

/* HAMBURGER */
.menuBtn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* NAWIGACJA MOBILE (UKRYTA DOMYŚLNIE) */
.linksNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: black;
    z-index: 3;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 1em 0;
}

/* OTWIERANE MENU */
.linksNav.active {
    display: flex;
}

.link {
    color: white;
    text-decoration: none;
}

.rezerwacjaBtn {
    border: none;
    border-radius: 20px;
    background-color: red;
    border: 1px solid rgb(255, 105, 105);
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px 18px;
    text-shadow: 0 0 1px black;
}

button:hover {
    cursor: pointer;
}

main {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: black;
    color: white;
    text-align: center;
}
.linksFooter{
    display: flex;
    gap: 2em;
}
footer p{
    font-size: .6rem;
}
a {
    color: rgba(255, 255, 255, 0.575);
    font-weight: 700;
    text-decoration: none;
}

/* DESKTOP */
@media (min-width: 1000px) {

    .header {
        padding: 2px 90px;
    }

    .menuBtn {
        display: none;
    }

    .linksNav {
        position: static;
        display: flex;
        flex-direction: row;
        width: auto;
        background: none;
        padding: 0;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        text-align: left;
    }
}